### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Rename "size" to clarify that it refers to number of students, not area or other measure of size
school_data = school_data.rename(columns={"size":"enrollment"})
school_data["per_student_budget"] = school_data["budget"] / school_data["enrollment"]

# Initial evaluation of student performance: add count of 1 to indicate that student is passing
student_data.loc[student_data["math_score"] >= 70, "count_passing_math"] = 1
student_data.loc[student_data["math_score"] < 70, "count_passing_math"] = 0
student_data.loc[student_data["reading_score"] >= 70, "count_passing_reading"] = 1
student_data.loc[student_data["reading_score"] < 70, "count_passing_reading"] = 0
student_data.loc[student_data["count_passing_math"] + student_data["count_passing_reading"] == 2, "count_passing_overall"] = 1
student_data.loc[student_data["count_passing_math"] + student_data["count_passing_reading"] < 2, "count_passing_overall"] = 0

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
#school_data_complete.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Assumptions

* All schools in the input file are part of the same district:

    * because District identifier is not part of the input file

    * in spite of type values in file = "District", "Charter"


* All students in the input file are part of the same district:

    * all schools in the student file are found in the school file

    * and all schools in the school file are assumed part of same district (see above)

In [2]:
# Calculate the total number of schools
##total_schools = school_data_complete["school_name"].nunique()
##total_schools = len(school_data)
##total_schools = school_data["school_name"].count()
total_schools = school_data["school_name"].nunique()

# Calculate the total number of students
total_students = school_data["enrollment"].sum()

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate average math score
avg_math_score = student_data["math_score"].mean()

# Calculate average reading score
avg_reading_score = student_data["reading_score"].mean()

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_pct = (student_data["count_passing_math"].sum()/total_students)*100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_pct = (student_data["count_passing_reading"].sum()/total_students)*100

# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_overall_pct = (student_data["count_passing_overall"].sum()/total_students)*100

# Create dataframe of results 
district_summary_df = pd.DataFrame({"Total Schools" : [total_schools],
                                    "Total Students" : total_students,
                                    "Total Budget" : total_budget,
                                    "Average Math Score" : avg_math_score,
                                    "Average Reading Score" : avg_reading_score,
                                    "Percent Passing Math" : passing_math_pct,
                                    "Percent Passing Reading" : passing_reading_pct,
                                    "Percent Passing Overall" : passing_overall_pct                                       
                                   })

# Format numbers for display
district_summary_df["Total Students"] = district_summary_df["Total Students"].astype(float).map("{:,.0f}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.0f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].astype(float).map("{:,.1f}%".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].astype(float).map("{:,.1f}%".format)
district_summary_df["Percent Passing Overall"] = district_summary_df["Percent Passing Overall"].astype(float).map("{:,.1f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,"39,170","$24,649,428",79.0,81.9,75.0%,85.8%,65.2%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
# set up student data grouped by school
school_group = student_data.groupby(["school_name"])

# set up school summary dataframe with static values
school_summary_df = school_data[["school_name", "type", "enrollment", "budget", "per_student_budget"]]

# calc average scores and total counts of students passing by school
school_avg_math_scores_df = school_group["math_score"].mean()
school_avg_reading_scores_df = school_group["reading_score"].mean()
school_passing_math_df = school_group["count_passing_math"].sum()
school_passing_reading_df = school_group["count_passing_reading"].sum()
school_passing_overall_df = school_group["count_passing_overall"].sum()

# add calculated values to school summary dataframe
school_group = school_data_complete.groupby(["school_name"])
school_summary_df = pd.merge(school_summary_df, school_avg_math_scores_df, on="school_name")
school_summary_df = pd.merge(school_summary_df, school_avg_reading_scores_df, on="school_name")
school_summary_df = pd.merge(school_summary_df, school_passing_math_df, on="school_name")
school_summary_df = pd.merge(school_summary_df, school_passing_reading_df, on="school_name")
school_summary_df = pd.merge(school_summary_df, school_passing_overall_df, on="school_name")

# calc percent of students passing fields
school_summary_df["pct_passing_math"] = (school_summary_df["count_passing_math"] / school_summary_df["enrollment"])*100
school_summary_df["pct_passing_reading"] = (school_summary_df["count_passing_reading"] / school_summary_df["enrollment"])*100
school_summary_df["pct_passing_overall"] = (school_summary_df["count_passing_overall"] / school_summary_df["enrollment"])*100

# Create unformatted copy of school summary df for later on
unformatted_school_summary_df = school_summary_df

# remove total students passing fields
school_summary_df = school_summary_df[["school_name", "type", "enrollment", "budget", "per_student_budget",
                                   "math_score", "reading_score", 
                                    "pct_passing_math", "pct_passing_reading", "pct_passing_overall"
                                    ]]

# rename fields for display
school_summary_df = school_summary_df.rename(columns={"school_name" : "School",
                                                      "type" : "Type",
                                                      "enrollment" : "Enrollment",
                                                      "budget" : "Budget",
                                                      "per_student_budget" : "Budget / Student",
                                                      "math_score" : "Average Math Score", 
                                                      "reading_score" : "Average Reading Score",
                                                      "pct_passing_math" : "Percent Passing Math",
                                                      "pct_passing_reading" : "Percent Passing Reading",
                                                      "pct_passing_overall" : "Percent Passing Overall"
                                                        })



# format numeric fields in dataframe for display
school_summary_df["Enrollment"] = school_summary_df["Enrollment"].astype(int).map("{:,}".format)
school_summary_df["Budget"] = school_summary_df["Budget"].astype(float).map("${:,.0f}".format)
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
school_summary_df["Percent Passing Math"] = school_summary_df["Percent Passing Math"].astype(float).map("{:,.1f}%".format)
school_summary_df["Percent Passing Reading"] = school_summary_df["Percent Passing Reading"].astype(float).map("{:,.1f}%".format)
school_summary_df["Percent Passing Overall"] = school_summary_df["Percent Passing Overall"].astype(float).map("{:,.1f}%".format)

display_school_summary_df = school_summary_df[["School", "Type", "Enrollment", "Budget", "Budget / Student", 
                                        "Average Math Score", "Average Reading Score", 
                                        "Percent Passing Math", "Percent Passing Reading", "Percent Passing Overall"
                                       ]]
display_school_summary_df

# Note to grader:  GitHub seems to have problems rendering this output
# Please see "School_Summary_output_in_jupyter" in Images folder for screenshot from Jupyter

,School,Type,Enrollment,Budget,Budget / Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,Huang High School,District,"2,917","$1,910,635",655.0,76.6,81.2,65.7%,81.3%,53.5%
1,Figueroa High School,District,"2,949","$1,884,411",639.0,76.7,81.2,66.0%,80.7%,53.2%
2,Shelton High School,Charter,"1,761","$1,056,600",600.0,83.4,83.7,93.9%,95.9%,89.9%
3,Hernandez High School,District,"4,635","$3,022,020",652.0,77.3,80.9,66.8%,80.9%,53.5%
4,Griffin High School,Charter,"1,468","$917,500",625.0,83.4,83.8,93.4%,97.1%,90.6%
5,Wilson High School,Charter,"2,283","$1,319,574",578.0,83.3,84.0,93.9%,96.5%,90.6%
6,Cabrera High School,Charter,"1,858","$1,081,356",582.0,83.1,84.0,94.1%,97.0%,91.3%
7,Bailey High School,District,"4,976","$3,124,928",628.0,77.0,81.0,66.7%,81.9%,54.6%
8,Holden High School,Charter,427,"$248,087",581.0,83.8,83.8,92.5%,96.3%,89.2%
9,Pena High School,Charter,962,"$585,858",609.0,83.8,84.0,94.6%,95.9%,90.5%
10,Wright High School,Charter,"1,800","$1,049,400",583.0,83.7,84.0,93.3%,96.6%,90.3%
11,Rodriguez High School,District,"3,999","$2,547,363",637.0,76.8,80.7,66.4%,80.2%,53.0%
12,Johnson High School,District,"4,761","$3,094,650",650.0,77.1,81.0,66.1%,81.2%,53.5%
13,Ford High School,District,"2,739","$1,763,916",644.0,77.1,80.7,68.3%,79.3%,54.3%
14,Thomas High School,Charter,"1,635","$1,043,130",638.0,83.4,83.8,93.3%,97.3%,90.9%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [4]:
#sort school summary by overall passing pct, descending
sorted_school_summary_df = display_school_summary_df.sort_values(by='Percent Passing Overall', ascending=False)
sorted_school_summary_df.head()

# Note to grader:  GitHub seems to have problems rendering this output
# Please see "Top_Performing_output_in_jupyter" in Images folder for screenshot from Jupyter

,School,Type,Enrollment,Budget,Budget / Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
6,Cabrera High School,Charter,"1,858","$1,081,356",582.0,83.1,84.0,94.1%,97.0%,91.3%
14,Thomas High School,Charter,"1,635","$1,043,130",638.0,83.4,83.8,93.3%,97.3%,90.9%
4,Griffin High School,Charter,"1,468","$917,500",625.0,83.4,83.8,93.4%,97.1%,90.6%
5,Wilson High School,Charter,"2,283","$1,319,574",578.0,83.3,84.0,93.9%,96.5%,90.6%
9,Pena High School,Charter,962,"$585,858",609.0,83.8,84.0,94.6%,95.9%,90.5%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [5]:
#sort school summary by overall passing pct, ascending
sorted_school_summary_df = display_school_summary_df.sort_values(by='Percent Passing Overall',ascending=True)
sorted_school_summary_df.head()

# Note to grader:  GitHub seems to have problems rendering this output
# Please see "Bottom_Performing_output_in_jupyter" in Images folder for screenshot from Jupyter

,School,Type,Enrollment,Budget,Budget / Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
11,Rodriguez High School,District,"3,999","$2,547,363",637.0,76.8,80.7,66.4%,80.2%,53.0%
1,Figueroa High School,District,"2,949","$1,884,411",639.0,76.7,81.2,66.0%,80.7%,53.2%
0,Huang High School,District,"2,917","$1,910,635",655.0,76.6,81.2,65.7%,81.3%,53.5%
3,Hernandez High School,District,"4,635","$3,022,020",652.0,77.3,80.9,66.8%,80.9%,53.5%
12,Johnson High School,District,"4,761","$3,094,650",650.0,77.1,81.0,66.1%,81.2%,53.5%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [6]:
# to do:  remove duplicated logic in this block and reading scores block
#
scores_by_grade = student_data.groupby(["school_name", "grade"])

# get average math score by school and grade
math_scores_df = scores_by_grade.mean()
math_scores_df = math_scores_df[["math_score"]]

# sort by school and grade
# make school and grade columns, not indices (code to create a numeric field from "grade" was failing before "grade" to column)
#   (note to self: for better understanding, read more about indices vs columns)
math_scores_df.reset_index(inplace=True)

# create a numeric grade field so 9th grade comes before other grades in final table
conditions = [
    (math_scores_df["grade"] == "9th"),
    (math_scores_df["grade"] == "10th"),
    (math_scores_df["grade"] == "11th"),
    (math_scores_df["grade"] == "12th")]
choices = [9, 10, 11, 12]
math_scores_df["sort_field"] = np.select(conditions, choices, default=0)
sorted_math_scores_df = math_scores_df.sort_values(by=["school_name","sort_field"])

# reduce fields and format for display
sorted_math_scores_df = sorted_math_scores_df[["school_name", "grade","math_score"]]
sorted_math_scores_df["math_score"] = sorted_math_scores_df["math_score"].astype(float).map("{:,.1f}%".format)
sorted_math_scores_df = sorted_math_scores_df.rename(columns={"school_name" : "School", "grade" : "Grade", "math_score" : "Avg Math Score"})

sorted_math_scores_df

                   School Grade Avg Math Score
3      Bailey High School   9th          77.1%
0      Bailey High School  10th          77.0%
1      Bailey High School  11th          77.5%
2      Bailey High School  12th          76.5%
7     Cabrera High School   9th          83.1%
4     Cabrera High School  10th          83.2%
5     Cabrera High School  11th          82.8%
6     Cabrera High School  12th          83.3%
11   Figueroa High School   9th          76.4%
8    Figueroa High School  10th          76.5%
9    Figueroa High School  11th          76.9%
10   Figueroa High School  12th          77.2%
15       Ford High School   9th          77.4%
12       Ford High School  10th          77.7%
13       Ford High School  11th          76.9%
14       Ford High School  12th          76.2%
19    Griffin High School   9th          82.0%
16    Griffin High School  10th          84.2%
17    Griffin High School  11th          83.8%
18    Griffin High School  12th          83.4%
23  Hernandez High School   9th          77.4%
20  Hernandez High School  10th          77.3%
21  Hernandez High School  11th          77.1%
22  Hernandez High School  12th          77.2%
27     Holden High School   9th          83.8%
24     Holden High School  10th          83.4%
25     Holden High School  11th          85.0%
26     Holden High School  12th          82.9%
31      Huang High School   9th          77.0%
28      Huang High School  10th          75.9%
29      Huang High School  11th          76.4%
30      Huang High School  12th          77.2%
35    Johnson High School   9th          77.2%
32    Johnson High School  10th          76.7%
33    Johnson High School  11th          77.5%
34    Johnson High School  12th          76.9%
39       Pena High School   9th          83.6%
36       Pena High School  10th          83.4%
37       Pena High School  11th          84.3%
38       Pena High School  12th          84.1%
43  Rodriguez High School   9th          76.9%
40  Rodriguez High School  10th          76.6%
41  Rodriguez High School  11th          76.4%
42  Rodriguez High School  12th          77.7%
47    Shelton High School   9th          83.4%
44    Shelton High School  10th          82.9%
45    Shelton High School  11th          83.4%
46    Shelton High School  12th          83.8%
51     Thomas High School   9th          83.6%
48     Thomas High School  10th          83.1%
49     Thomas High School  11th          83.5%
50     Thomas High School  12th          83.5%
55     Wilson High School   9th          83.1%
52     Wilson High School  10th          83.7%
53     Wilson High School  11th          83.2%
54     Wilson High School  12th          83.0%
59     Wright High School   9th          83.3%
56     Wright High School  10th          84.0%
57     Wright High School  11th          83.8%
58     Wright High School  12th          83.6%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [7]:
# set up student data grouped by school and grade

# get average math score by school and grade
reading_scores_df = scores_by_grade.mean()
reading_scores_df = reading_scores_df[["reading_score"]]

# sort by school and grade
# make school and grade columns, not indices (code to create a numeric field from "grade" was failing before "grade" to column)
reading_scores_df.reset_index(inplace=True)

# create a numeric grade field so 9th grade comes before other grades in final table
conditions = [
    (reading_scores_df["grade"] == "9th"),
    (reading_scores_df["grade"] == "10th"),
    (reading_scores_df["grade"] == "11th"),
    (reading_scores_df["grade"] == "12th")]
choices = [9, 10, 11, 12]
reading_scores_df["sort_field"] = np.select(conditions, choices, default=0)
sorted_reading_scores_df = reading_scores_df.sort_values(by=["school_name","sort_field"])

# format for display
sorted_reading_scores_df = sorted_reading_scores_df[["school_name", "grade","reading_score"]]
sorted_reading_scores_df["reading_score"] = sorted_reading_scores_df["reading_score"].astype(float).map("{:,.1f}%".format)
sorted_reading_scores_df = sorted_reading_scores_df.rename(columns={"school_name" : "School", "grade" : "Grade", "reading_score" : "Avg Reading Score"})

sorted_reading_scores_df

                   School Grade Avg Reading Score
3      Bailey High School   9th             81.3%
0      Bailey High School  10th             80.9%
1      Bailey High School  11th             80.9%
2      Bailey High School  12th             80.9%
7     Cabrera High School   9th             83.7%
4     Cabrera High School  10th             84.3%
5     Cabrera High School  11th             83.8%
6     Cabrera High School  12th             84.3%
11   Figueroa High School   9th             81.2%
8    Figueroa High School  10th             81.4%
9    Figueroa High School  11th             80.6%
10   Figueroa High School  12th             81.4%
15       Ford High School   9th             80.6%
12       Ford High School  10th             81.3%
13       Ford High School  11th             80.4%
14       Ford High School  12th             80.7%
19    Griffin High School   9th             83.4%
16    Griffin High School  10th             83.7%
17    Griffin High School  11th             84.3%
18    Griffin High School  12th             84.0%
23  Hernandez High School   9th             80.9%
20  Hernandez High School  10th             80.7%
21  Hernandez High School  11th             81.4%
22  Hernandez High School  12th             80.9%
27     Holden High School   9th             83.7%
24     Holden High School  10th             83.3%
25     Holden High School  11th             83.8%
26     Holden High School  12th             84.7%
31      Huang High School   9th             81.3%
28      Huang High School  10th             81.5%
29      Huang High School  11th             81.4%
30      Huang High School  12th             80.3%
35    Johnson High School   9th             81.3%
32    Johnson High School  10th             80.8%
33    Johnson High School  11th             80.6%
34    Johnson High School  12th             81.2%
39       Pena High School   9th             83.8%
36       Pena High School  10th             83.6%
37       Pena High School  11th             84.3%
38       Pena High School  12th             84.6%
43  Rodriguez High School   9th             81.0%
40  Rodriguez High School  10th             80.6%
41  Rodriguez High School  11th             80.9%
42  Rodriguez High School  12th             80.4%
47    Shelton High School   9th             84.1%
44    Shelton High School  10th             83.4%
45    Shelton High School  11th             84.4%
46    Shelton High School  12th             82.8%
51     Thomas High School   9th             83.7%
48     Thomas High School  10th             84.3%
49     Thomas High School  11th             83.6%
50     Thomas High School  12th             83.8%
55     Wilson High School   9th             83.9%
52     Wilson High School  10th             84.0%
53     Wilson High School  11th             83.8%
54     Wilson High School  12th             84.3%
59     Wright High School   9th             83.8%
56     Wright High School  10th             83.8%
57     Wright High School  11th             84.2%
58     Wright High School  12th             84.1%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [8]:
# Create Budget bins
bins = [0, 600, 625, 650, 700]
group_names = ["0 - 600", "600 - 625", "625 - 650", "650 - 700"]
unformatted_school_summary_df["Budget Grouping"] = pd.cut(unformatted_school_summary_df["per_student_budget"], bins, 
                                                          labels=group_names, include_lowest=True)

# Create a table of averages & pcts by Spending
budget_group = unformatted_school_summary_df.groupby(["Budget Grouping"])
budget_summary_df = budget_group["math_score"].mean()
budget_summary_df = pd.merge(budget_summary_df, budget_group["reading_score"].mean(), on="Budget Grouping")
budget_summary_df = pd.merge(budget_summary_df, budget_group["count_passing_math"].sum(), on="Budget Grouping")
budget_summary_df = pd.merge(budget_summary_df, budget_group["count_passing_reading"].sum(), on="Budget Grouping")
budget_summary_df = pd.merge(budget_summary_df, budget_group["count_passing_overall"].sum(), on="Budget Grouping")
budget_summary_df = pd.merge(budget_summary_df, budget_group["enrollment"].sum(), on="Budget Grouping")

# calc percent of students passing fields
budget_summary_df["pct_passing_math"] = (budget_summary_df["count_passing_math"] / budget_summary_df["enrollment"])*100
budget_summary_df["pct_passing_reading"] = (budget_summary_df["count_passing_reading"] / budget_summary_df["enrollment"])*100
budget_summary_df["pct_passing_overall"] = (budget_summary_df["count_passing_overall"] / budget_summary_df["enrollment"])*100

# reduce fields in dataframe
budget_summary_df = budget_summary_df[[
                                   "math_score", "reading_score", 
                                    "pct_passing_math", "pct_passing_reading", "pct_passing_overall"
                                    ]]

# rename fields for display
budget_summary_df = budget_summary_df.rename(columns={
                                                      "math_score" : "Average Math Score", 
                                                      "reading_score" : "Average Reading Score",
                                                      "pct_passing_math" : "Percent Passing Math",
                                                      "pct_passing_reading" : "Percent Passing Reading",
                                                      "pct_passing_overall" : "Percent Passing Overall"
                                                        })

# format numeric fields in dataframe for display
budget_summary_df["Average Math Score"] = budget_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
budget_summary_df["Average Reading Score"] = budget_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
budget_summary_df["Percent Passing Math"] = budget_summary_df["Percent Passing Math"].astype(float).map("{:,.1f}%".format)
budget_summary_df["Percent Passing Reading"] = budget_summary_df["Percent Passing Reading"].astype(float).map("{:,.1f}%".format)
budget_summary_df["Percent Passing Overall"] = budget_summary_df["Percent Passing Overall"].astype(float).map("{:,.1f}%".format)

budget_summary_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
Budget Grouping,,,,,
0 - 600,83.4,83.9,93.7%,96.5%,90.5%
600 - 625,83.6,83.9,93.9%,96.7%,90.6%
625 - 650,78.0,81.4,68.7%,82.1%,56.7%
650 - 700,77.0,81.1,66.3%,81.0%,53.5%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Create Size bins 
bins = [0, 1500, 2750, 4000, 5000]
group_names = ["0 - 1500", "1500 - 2750", "2750 - 4000", "4000 - 5000"]
unformatted_school_summary_df["Size Grouping"] = pd.cut(unformatted_school_summary_df["enrollment"], bins, 
                                                        labels=group_names, include_lowest=True)

# Create a table of averages & pcts by Enrollment
size_group = unformatted_school_summary_df.groupby(["Size Grouping"])
size_summary_df = size_group["math_score"].mean()
size_summary_df = pd.merge(size_summary_df, size_group["reading_score"].mean(), on="Size Grouping")
size_summary_df = pd.merge(size_summary_df, size_group["count_passing_math"].sum(), on="Size Grouping")
size_summary_df = pd.merge(size_summary_df, size_group["count_passing_reading"].sum(), on="Size Grouping")
size_summary_df = pd.merge(size_summary_df, size_group["count_passing_overall"].sum(), on="Size Grouping")
size_summary_df = pd.merge(size_summary_df, size_group["enrollment"].sum(), on="Size Grouping")

# calc percent of students passing fields
size_summary_df["pct_passing_math"] = (size_summary_df["count_passing_math"] / size_summary_df["enrollment"])*100
size_summary_df["pct_passing_reading"] = (size_summary_df["count_passing_reading"] / size_summary_df["enrollment"])*100
size_summary_df["pct_passing_overall"] = (size_summary_df["count_passing_overall"] / size_summary_df["enrollment"])*100

# reduce fields in dataframe
size_summary_df = size_summary_df[[
                                   "math_score", "reading_score", 
                                    "pct_passing_math", "pct_passing_reading", "pct_passing_overall"
                                    ]]

# rename fields for display
size_summary_df = size_summary_df.rename(columns={
                                                      "math_score" : "Average Math Score", 
                                                      "reading_score" : "Average Reading Score",
                                                      "pct_passing_math" : "Percent Passing Math",
                                                      "pct_passing_reading" : "Percent Passing Reading",
                                                      "pct_passing_overall" : "Percent Passing Overall"
                                                        })
# format numeric fields in dataframe for display
size_summary_df["Average Math Score"] = size_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
size_summary_df["Average Reading Score"] = size_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
size_summary_df["Percent Passing Math"] = size_summary_df["Percent Passing Math"].astype(float).map("{:,.1f}%".format)
size_summary_df["Percent Passing Reading"] = size_summary_df["Percent Passing Reading"].astype(float).map("{:,.1f}%".format)
size_summary_df["Percent Passing Overall"] = size_summary_df["Percent Passing Overall"].astype(float).map("{:,.1f}%".format)

size_summary_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
Size Grouping,,,,,
0 - 1500,83.7,83.9,93.7%,96.6%,90.4%
1500 - 2750,82.3,83.4,88.0%,92.7%,82.4%
2750 - 4000,76.7,81.0,66.1%,80.7%,53.2%
4000 - 5000,77.1,81.0,66.5%,81.4%,53.9%

## Scores by School Type

* Perform the same operations as above, based on school type

In [10]:
# Create a table of averages by Type

type_group = school_data_complete.groupby(["type"])

# calc average scores and total counts of students passing by school
type_summary_df = type_group["math_score"].mean()
type_summary_df = pd.merge(type_summary_df, type_group["reading_score"].mean(), on="type")
type_summary_df = pd.merge(type_summary_df, type_group["count_passing_math"].sum(), on="type")
type_summary_df = pd.merge(type_summary_df, type_group["count_passing_reading"].sum(), on="type")
type_summary_df = pd.merge(type_summary_df, type_group["count_passing_overall"].sum(), on="type")

# calc total enrollment by type
type_group2 = school_data.groupby(["type"])
type_summary_df = pd.merge(type_summary_df, type_group2["enrollment"].sum(), on="type")

# calc percent of students passing fields
type_summary_df["pct_passing_math"] = (type_summary_df["count_passing_math"] / type_summary_df["enrollment"])*100
type_summary_df["pct_passing_reading"] = (type_summary_df["count_passing_reading"] / type_summary_df["enrollment"])*100
type_summary_df["pct_passing_overall"] = (type_summary_df["count_passing_overall"] / type_summary_df["enrollment"])*100

# remove total students passing fields
type_summary_df = type_summary_df[["math_score", "reading_score", 
                                    "pct_passing_math", "pct_passing_reading", "pct_passing_overall"
                                    ]]
# rename fields for display
type_summary_df = type_summary_df.rename(columns={"type" : "Type",
                                                    "math_score" : "Average Math Score", 
                                                    "reading_score" : "Average Reading Score",
                                                    "pct_passing_math" : "Percent Passing Math",
                                                    "pct_passing_reading" : "Percent Passing Reading",
                                                    "pct_passing_overall" : "Percent Passing Overall"
                                                      })
# format numeric fields in dataframe for display
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].astype(float).map("{:,.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].astype(float).map("{:,.1f}".format)
type_summary_df["Percent Passing Math"] = type_summary_df["Percent Passing Math"].astype(float).map("{:,.1f}%".format)
type_summary_df["Percent Passing Reading"] = type_summary_df["Percent Passing Reading"].astype(float).map("{:,.1f}%".format)
type_summary_df["Percent Passing Overall"] = type_summary_df["Percent Passing Overall"].astype(float).map("{:,.1f}%".format)

type_summary_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
type,,,,,
Charter,83.4,83.9,93.7%,96.6%,90.6%
District,77.0,81.0,66.5%,80.9%,53.7%